# Configuración de credenciales de LinkedIn (Opcional - también se pueden configurar en el Dashboard UI)
LINKEDIN_ACCESS_TOKEN=
LINKEDIN_PERSON_URN=urn:li:person:800423380
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
PORT=3000
